@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
*{
  font-family: 'Poppins', monospace;
}
body {
  text-align: center;
  background-color: #FEF2F2;
}

h1 {
  font-size: 5rem;
  color: #7D5E3F;
  text-shadow: 3px 0 #F5D97E;

}

.w {
  background-image: url("/images/tom1.png");
}

.a {
  background-image: url("/images/tom2.png");
}

.s {
  background-image: url("/images/tom3.png");
}

.d {
  background-image: url("/images/tom4.png");
}

.j {
  background-image: url("/images/kick.png");
}

.k {
  background-image: url("/images/snare.png");
}

.l {
  background-image: url("/images/crash.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #7D5E3F;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #F03861;
  text-shadow: 3px 0 #FEF2F2;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #FFF;
}
